
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    display: flex;
    /* // Con esto puedo cambiar la direccion del main axis de la caja que contiene los elementos //
    flex-direction: column; */
    /* // Para alinear en en mainAxis //
    justify-content: center; */

    /* // Para alinear en el crossAxis //
    align-items: center; */
    /* // Si hay varias lineas //
    align-content: center; */

}
.caja{

    background-color: blue;
    height: 120px;
    width: 120px;
    margin: 5px;

    /* // Propiedades de los items del flexBox // */
    /* // Alineacion en el crossAxis //
    align-self: ; */
    /* // Margin que se centra //
    margin: auto; */
    /* // Flex grow, coge el espacio sobrante y lo reparte entre el resto de elementos //
    flex-grow: ; */
    /* // Decide que espacio va a ocupar/ceder cada elemento en relación al resto de elementos//
    flex-shrink: ; */

}

