
    <nav>
        <div class="menu">
            <button class="menuConsulta" >CONSULTAS</button>
            <button class="menuCalendario" >CALENDARIO</button>
            <button id="botonUsuarioRol" class="menuUsuarios" (click)="abrirGestionUsuario()" >GESTIÓN USUARIOS</button>
        </div>
    </nav>


    <div class="filaBotones">
        <button (click)="recargarInfo()" class="recargar">Cargar Cambios</button>
        <button (click)="poopenPopupCrear()" class="recargar">Crear Nuevo Paciente</button>
        <button (click)="abrirFiltros()"  class="filtros">Filtros</button>
        <div id ="cajaFiltro" class="filaBotones camposFiltros"  style="display: none;" >
            <input id="filtroNombre" class="filtro" placeholder="Nombre"  type="text">
            <input id="filtroTelefono" class="filtro" placeholder="Número de teléfono"  type="text">
            <input id="filtroDni" class="filtro" placeholder="DNI"  type="text">
         </div>
         <button id="aplicarFiltros" (click)="aplicarFiltros()" class="recargar" style="display: none;"  >Aplicar Filtros</button>
    </div>

    <div class="container-loader" *ngIf="carga">
        <div class="loader" >
            <img src="../../assets/media/wait.gif" alt="Cargando...">
          </div>
    </div>

    <div class="cuerpoPrincipal">

            <div class="lista-campos">
                <div class="check"></div>
                <div class="campo">Nombre</div>
                <div class="campo">Apellidos</div>
                <div class="campo">Teléfono</div>
                <div class="campo">DNI</div>
                <div class="campo">Email</div>
                <div class="campo">LOPD</div>
                <div class="campo"> Más Info</div>
            </div>
            <div class="lista-campos" *ngFor="let cliente of listaClientes; let i = index">
                <!-- <button class="check"><img class="iconoEditar" src="../../assets/media/iconoEditar.png"></button> -->
                <a (click)=" escogerCliente(); poopenPopupEditar(); selectedIndex(cliente.id)" class="check"> <img class="infoIconEditar" src="../../assets/media/iconoEditar.png"></a>
                <button class="campoButton-edit" >{{cliente.name}}</button>
                <button class="campoButton-edit" >{{cliente.lastName}}</button>
                <button class="campoButton-edit" >{{cliente.phone}}</button>
                <button class="campoButton-edit" >{{cliente.dni}}</button>
                <button class="campoButton-edit" >{{cliente.email}}</button>
                <button class="campoButton-edit" >{{cliente.lopd}}</button>
                <a (click)="poopenPopupWait(); selectedIndex(cliente.id)" class="campoButton">  <img class="infoIcon" src="../../assets/media/infoS.png" alt="Información"></a>
            </div>
        </div>




