


<!-- // Prueba // -->

<ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>

    <nav>
        <div class="menu">
            <button class="menuInicio" href="../login/login.component.html" target="_blank" > INICIO </button>
            <button class="menuConsulta" href="" target="_blank" >CONSULTAS</button>
            <button class="menuCalendario" href="" target="_blank" >CALENDARIO</button>
        </div>
    </nav>

    <button class="filtros">Filtros</button>
    <div class="container-loader" *ngIf="carga">
        <div class="loader" >
            <img src="../../assets/media/wait.gif" alt="Cargando...">
          </div>
    </div>
    

    <div class="cuerpoPrincipal">
        
            <div class="lista-campos">
                <div class="campo">Nombre</div>
                <div class="campo">Apellidos</div>
                <div class="campo">Teléfono</div>
                <div class="campo">DNI</div>
                <div class="campo">Email</div>
                <div class="campo">LOPD</div>
                <div class="campo"> Más Info</div>
            </div>
            <div class="lista-campos" *ngFor="let cliente of listaClientes; let i = index">
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.name}}</button>
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.lastName}}</button>
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.phone}}</button>
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.dni}}</button>
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.email}}</button>
                <button (click)="poopenPopupWait2();" class="campoButton-edit" >{{cliente.lopd}}</button>
                <a (click)="poopenPopupWait(); selectedIndex(cliente.id)" class="campoButton">  <img class="infoIcon" src="../../assets/media/infoS.png" alt="Información"></a>
            </div>
        </div>

            
            
    
