
  <div class="mainContainer">
    <div class="cajaLogin">

        <div class="cajaCampos">
            <img class="imagenLogo" src=".../" alt="logo">
            <h1 class="tituloNombre"></h1>
            <h3>Nombre de Usuario</h3>
            <input class="campoNombre" type="text">
            <h3 class="tituloContrasena">Contraseña</h3>
            <input class="campoContrasena" type="password">
            <input class="botonInicioSesion" type="submit" value="LOGIN">
            <a class="enlaceProvicional" href="principal.component.html"> LOGIN PROVISIONAL</a>
            
        </div>
    </div>
  </div>  

