

    <!-- <button id="iconSpan"></button>

    <ul id="menu">
        <li><a class="menuItem" href=""></a></li>
        <li><a class="menuItem" href=""></a></li>
        <li><a class="menuItem" href=""></a></li>
    </ul> -->
    <!-- <div class="menu-lateral">
        <ul>
          <li><a href="#">Opción 1</a></li>
          <li><a href="#">Opción 2</a></li>
          <li><a href="#">Opción 3</a></li>
          <li><a href="#">Opción 4</a></li>
        </ul>
      </div> -->


    <div class="menu-lateral" [ngClass]="{'menu-lateral-abierto': menuAbierto}">
        <button (click)="alternarMenu()">Alternar Menú</button>
        <ul>
          <li><a href="#">Opción 1</a></li>
          <li><a href="#">Opción 2</a></li>
          <li><a href="#">Opción 3</a></li>
          <li><a href="#">Opción 4</a></li>
        </ul>
    </div>
    

    

