*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #menu{
    
    height: 100%;
    width: 20%;
}



.menuItem{

    width: 100px;
    height: 100px;
    background-color: blue;
    outline: solid red 2px;
} */

.menu-lateral {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-lateral li {
    margin-bottom: 10px;
  }
  
  .menu-lateral a {
    color: #333;
    text-decoration: none;
  }