<!-- <h1>titulo</h1>
<span>Campo con el texto a editar</span>
<input class="campoTexto" type="text">
<button>Confirmar Cambios</button> -->

<!-- 
<div>
    <button class="cerrar"></button>
    <button class="borrarPaciente"></button>
</div>

<div class="filaInfo">
    <div class="titulo">Nombre</div>
    <div class="titulo">Apellidos</div>
    <div class="titulo">Teléfono</div>
    <div class="titulo">DNI</div>
    <div class="titulo">Email</div>
    <div class="titulo">LOPD</div>
</div> -->
<div class="container-loader" *ngIf="carga">
  <div class="loader" >
      <img src="../../assets/media/wait.gif" alt="Cargando...">
    </div>
</div>

<div class="contenedor">

    
        <button (click)="cerrarVentana()" class="cerrar">Cerrar</button>
        <h2 class="titulo" >Editar Paciente</h2>
        <div class="campo-editable">
          <label for="nombre">Nombre:  {{nombre}} </label>
          <input type="text" id="nombre">
    
        </div>
        <div class="campo-editable">
          <label for="apellidos">Apellidos:  {{apellido}}</label>
          <input type="text" id="apellidos">
        </div>
        <div class="campo-editable">
          <label for="dni">Teléfono:  {{telefono}}</label>
          <input type="text" id="telefono">
        </div>
        <div class="campo-editable">
          <label for="dni">DNI:  {{dni}}</label>
          <input type="text" id="dni">
        </div>
        <div class="campo-editable">
          <label for="email">Email:  {{email}}</label>
          <input type="text" id="email">
        </div>
        <div class="campo-editable">
          <label for="lopd">LOPD:  {{lopd}}</label>
          <input type="text" id="lopd">
        </div>
        <button (click)="modificarClient()" class="confirmarCambios">Confirmar</button>
        <button (click)="eliminarCliente()" class="eliminarPaciente">Eliminar Paciente</button>
        

   
</div>
  


