
<div class="option-container"> 

    <!-- <button class="opcion" (click)="abrirVentana('antecedente')">Antecedentes</button> -->
    <button class="opcion" (click)="abrirVentana('alergia')">Alergias</button>
    <button class="opcion" (click)="abrirVentana('antecedente')"> Antecedentes</button>
    <button class="opcion" (click)="abrirVentana('cirugia')">Cirugias</button>
    <button class="opcion" (click)="abrirVentana('evaluacion')">Evaluaciones</button>
    <button class="opcion" (click)="abrirVentana('observacion')">Observaciones</button>
    <button class="opcion" (click)="abrirVentana('tratamiento')">Tratamientos</button> 

<button class="btn-ft" mat-button (click)="closePopup()">Cerrar</button>

    
</div>    



