

<!-- <div *ngFor="let background of listBackgrounds">
    <div>{{background.date}}</div>
    <div>{{background.description}}</div>
    
</div> -->
<!-- <div class="container-principal"> -->
    <button class="opcion" (click)="changeRoute()">Antecedentes</button>
    <button class="opcion" (click)="changeRoute()">Alergias</button>
    <button class="opcion" (click)="changeRoute()">Cirugias</button>
    <button class="opcion" (click)="changeRoute()">Evaluaciones</button>
    <button class="opcion" (click)="changeRoute()">Observaciones</button>
    <button class="opcion" (click)="changeRoute()">Tratamientos</button>
    <button class="btn-ft" mat-button (click)="closePopup()">Cerrar</button>
<!-- </div> -->


