

<!-- <div *ngFor="let background of listBackgrounds">
    <div>{{background.date}}</div>
    <div>{{background.description}}</div>
    
</div> -->
<!-- <div class="container-principal"> -->
    <div class="opcion">Antecedentes</div>
    <div class="opcion">Alergias</div>
    <div class="opcion">Cirugias</div>
    <div class="opcion">Evaluaciones</div>
    <div class="opcion">Observaciones</div>
    <div class="opcion">Tratamientos</div>
    <button mat-button (click)="closePopup()">Cerrar</button>
<!-- </div> -->


