*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;

}

.menu a{  
    background-color: blueviolet;
    display: block;
    border: 3px solid red;
    width: 10em;
    height: 5em;
    text-align: center;
    align-items: center;
}