*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el menú de navegacion */
.menu{

    margin-top: 2em;
    display:flex;
    justify-content: center;
      
}

/* Estilos para los enlaces del menú de navegación  */
.menu a{  
    background-color: #99c7bd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
    width: 10em;
    height: 5em;    
    margin-right:2px ;
}


/* PseudoClases para eliminar los estilos de los enlaces/botones  */

/* Para enlaces ya visitados  */
.menu a :visited{
    
    text-decoration: none;
}

/* Para enlaces NO visitados */
.menu a:link{

    text-decoration: none;
}

.menu a:hover{

    background-color: #84c6b5;

}



.cuerpoPrincipal{

    display: flex;
    background-color: grey;
    width: 80em;
    height: 100em;
    margin: auto;
    margin-top: 1em;
}

